<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CNG BOOKING Web Application</display-name>
  <welcome-file-list>
    <welcome-file>adminLogIn.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PumpLogin</display-name>
    <servlet-name>PumpLogin</servlet-name>
    <servlet-class>com.vijay.app.PumpLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PumpLogin</servlet-name>
    <url-pattern>/PumpLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminLog</display-name>
    <servlet-name>adminLog</servlet-name>
    <servlet-class>com.vijay.app.adminLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLog</servlet-name>
    <url-pattern>/adminLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.vijay.app.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PumpLogIn</display-name>
    <servlet-name>PumpLogIn</servlet-name>
    <servlet-class>com.vijay.app.PumpLogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PumpLogIn</servlet-name>
    <url-pattern>/PumpLogIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PumpRegister</display-name>
    <servlet-name>PumpRegister</servlet-name>
    <servlet-class>com.vijay.app.PumpRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PumpRegister</servlet-name>
    <url-pattern>/PumpRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.vijay.app.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.vijay.app.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.vijay.app.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCNG</display-name>
    <servlet-name>UpdateCNG</servlet-name>
    <servlet-class>com.vijay.app.UpdateCNG</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCNG</servlet-name>
    <url-pattern>/UpdateCNG</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UBooking</display-name>
    <servlet-name>UBooking</servlet-name>
    <servlet-class>com.vijay.app.UBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UBooking</servlet-name>
    <url-pattern>/UBooking</url-pattern>
  </servlet-mapping>
</web-app>